<app-section-header [sectionTitle]="service.selectedSource.name"></app-section-header>
<app-nav [currentSource]="service.selectedSource.id" (filter)="onFilter($event)"></app-nav>
<main class="container">
  <section *ngFor="let news of newsList | filterNews: {filter: filter}">
    <app-news-item
      [news]="news"
      [source]="service.selectedSource"
      (edit)="onEdit($event)"
      [isFull]="false"
      (delete)="onDelete($event)"></app-news-item>
    <a [routerLink]="[news._id]">Reade more...</a>
  </section>
</main>
